{% extends 'base.html' %}

{%block title%}- Agregar categorias{%endblock%}
{%block contenido%}

<div class="contenido">
    
    {% if user.is_superuser %}

        <h1>Crear Categoría</h1>

        <form method="post">
            {% csrf_token %}
            {{form.as_p |safe}}
        <!-- <button class="button00" type="submit" >Crear Categoría</button>> -->
        <input type="submit" value="Save">
        </form>

    {%else%}

    
    <h1>No deberías estar aquí 🤨📸</h1>
    <a class="button00" href="{% url 'index' %}">Volver al inicio</a>

    {%endif%}
</div>


{%endblock%}