{% extends 'base.html' %}
{% load static %}

<!-- head -->
{% block titulo %}
    Noticias
{% endblock %}
<!-- body -->
{% block contenido %}

<div class="col" style = 'text-align: center;'>
    <form action="../../form-result.php" method="post" target="_blank">

        <h3 class="title text-cursive">
  
            Búsqueda por categoria: <input type="search" name="busqueda" placeholder="politica, evento, donación...">
  
            <input type="submit" value="Buscar">
  
        </h3>
  </form>
</div>
    
    
    <div style = 'margin-left: 13%;margin-right: 13%; text-align: justify;'>
        {% if object_list %}
                    
        
            {% for p in object_list %}

                <h1>{{p.titulo}}</h1>
                {{p.texto|safe}}
                <p>{{p.fecha}}</p>
                <i class="fas fa-box    ">
                    <h3>{{p.categoria}}<h3>
                </i>
                {% if user.is_superuser %}
                    <a href='{% url 'apps.noticia:borrar' p.id %}'> Borrar </a>
                    <a href='{% url 'apps.noticia:modificar' p.id %}'> Editar </a>
                {% endif %}
            {% endfor %}
        

    {% else %}
        <h1>No se encontraron noticias</h1>
    {% endif %}
    </div>

{% endblock %}