{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    Noticias con imagenes
{% endblock %}

{% block contenido %}





<div class="col-lg-3 stretch-card grid-margin">
    <div class="card">
        <div class="card-body">
        <h2>Categorías</h2>
        <ul class="vertical-menu">                
            
            <!--# Acá se listan las categorías -->
            
            {% for categoria in listaDeCategorias %}
            <!-- Se puede dar estilo al link de abajo y se aplica a todas las categorías -->
            <li><a href="{% url 'apps.noticia:filtrarCategoria' categoria %}">{{categoria}}</a></li>
                {% if user.is_authenticated and user.is_superuser %}
                    <button type="button" class="btn btn-danger">
                        <a href='{% url 'apps.noticia:borrarCategoria' categoria.id %}' style = 'color:white'> Borrar </a>
                    </button>
                {% endif %}    
            {%endfor%}


        </ul>
        </div>
    </div>
</div>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Ordenar fecha:
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
        <a class="dropdown-item" href="{% url 'apps.noticia:mostrarImg' %}" >
            Descendente 
        </a>
        <a class="dropdown-item" href="{% url 'apps.noticia:mostrarImgAscendente' %}">
            Ascendente
        </a>
    </div>
</li>


    {% for p in noticia %}

        {%include 'noticias/contenido.html' %}

    {% endfor %}


{% endblock %}