{% extends "base.html" %}
{% load static %}
<!--HEAD-->

{% block titulo %}
    Misión 
{% endblock %}
<!--BODY-->
{% block contenido %}
    <!-- Mision -->
    <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="{% static 'images/img_2.jpg' %}" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-5 ml-auto">
              <h3 class="text-cursive mb-4">
                MISIÓN
              </h3>
              <p>    
                - Fomentar el desarrollo de la educación, de la salud, y el bienestar social; 
              </p>
              <p>
                - Lograr el mejoramiento de la calidad de vida.
              </p>
              <p>
                - Estimular la participación cívica y solidaria.
              </p>
              <p>
                - Crear ámbitos de integración y recreación.
              </p>
              <p>
                - Promover la dignidad humana en toda su dimensión ética y cultural, 
                particularmente la igualdad efectiva de oportunidades entre el hombre y la mujer 
                y los derechos de la infancia. 
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Vision -->
      <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md-5 ml-auto">
              <h3 class="text-cursive mb-4">
                VISIÓN
              </h3>
              <p>
                Actualmente la ONG trabaja en tres instalaciones propias, 
                en diferentes puntos de la localidad, a los que asisten 
                mayoritariamente niños de barriadas carenciadas;
              </p>
              <p>
                En este contexto los comedores se convierten en un espacio de contención en el que, 
                además de proporcionarles alimento, se les brinda esparcimiento, apoyo escolar, 
                actividades culturales y recreativas; afecto y atención.
              </p>
              <p>
                Allí niños son escuchados y contenidos.
              </p>
              <p>
                Queremos llegar a ser una ONG que sea destacada en la región por el acompañamiento 
                que brinda a la comunidad, el esfuerzo de quienes participamos y, 
                por el apoyo de quienes nos ayudan y acompañan.
              </p>
             </p>
             <p>
                Queremos llegar a ser una ONG que sea destacada en la región por el acompañamiento 
                que brinda a la comunidad, el esfuerzo de quienes participamos y, 
                por el apoyo de quienes nos ayudan y acompañan.
               </p>
            </div>
            <div class="col-md-6">
              <img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>

      <iframe 
        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Foportunidadecambio&tabs=timeline&width=2400&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" 
        width="2300" height="500" style="border:none;overflow:hidden;padding: 0 50%" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
      </iframe> 

{% endblock %}



