{% extends "base.html" %}
{% load static %}

<!--HEAD-->
{% block titulo %}
    Nosotros - Nosotros
{% endblock %}

<!--BODY-->
{% block contenido %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-cursive" id="demotext2" style = 'text-align: center;'>
        <br>
        ¿QUIÉNES SOMOS? 
        <br>
      </h1>
      <br>
      <center><p id="margen">Somos una organización no gubernamental, creada el 14 de junio del 2012. Llevamos adelante 2 comedores comunitarios donde, además de brindar raciones de comida, realizamos actividades educativas, recreativas y deportivas. Contamos con un predio denominado "Granja Educativa" en el que los días sábados llevamos adelante actividades al aire libre.</p></center>
    </div>
    <div class="col-md-6">
        <br>
        <center><img src="{% static 'images/logoo.jpg' %}" alt="Image" class="img-fluid" width="325" height="267"></center>
        <br>
    </div>
  </div>
</div>
    
<center><img src="{% static 'images/collage.png' %}" alt="Image" class="img-fluid" width="1432" height="679"></center>

<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="{% static 'images/mural.jpg' %}" alt="Image" class="img-fluid" width="476" height="490">
      <p>Mural conmemorativo realizado en el Predio Granja Educativa.</p>
    </div>
    <div class="col-md-6 ml-auto">
      <center><h3 class="text-cursive mb-4" id="demotext2">
        ¡10 AÑOS!
      </h3></center>
      <p>    
        ¡Estamos muy contentos! 
      </p>
      <p>
        - 10 años de solidaridad, de extender la mano y brindar el corazón en un plato de comida, en una copa de leche, en un abrigo, en un abrazo, en una caricia...
      </p>
      <p>
        - 10 años de mucho esfuerzo coronados con la satisfacción que producen la suma de pequeños logros.
      </p>
      <p>
        - Gracias a los que hoy están, a los que estuvieron; a todos los que aportaron un granito de arena en pos del bien común.
      </p>
      <p>
        - Mirando hacia atrás, solo nos resta dar gracias a Dios; porque todo lo vivido nos a ayudado a crecer. En la bonanza y en la adversidad ÉL ha estado presente, dándonos fuerzas para seguir adelante. 
      </p>
    </div>
  </div>
</div>
<br>

<div class="col-md-12">
    <h1 class="text-cursive" id="demotext2" style = 'text-align: center;'>
      LA HUERTA<br>
    </h1>
    <br>
    <center><p id="margen">De a poco, y gracias al esfuerzo de muchos, podemos ver el crecimiento de nuestra huerta.</p></center>
    <br>
</div>
<!--<center><img src="{% static 'images/collage3.png' %}" alt="Image" class="img-fluid" width="1188" height="495"></center>-->

<div class="owl-carousel-wrapper">

  <div class="owl-carousel owl-1 ">
    <!--  style="background-image: url('images/hero_1.jpg');" -->
    <div class="ftco-cover-1 overlay">
      <a href="#" class="d-block mb-3"><img src="{% static 'images/Huerta2.jpg' %}" alt="Image" class="img-fluid rounded"></a>
    </div>
    <div class="ftco-cover-1 overlay" >
      <a href="#" class="d-block mb-3"><img src="{% static 'images/Huerta3.jpg' %}" alt="Image" class="img-fluid rounded"></a>
    </div>
    <div class="ftco-cover-1 overlay" >
      <a href="#" class="d-block mb-3"><img src="{% static 'images/Huerta4.jpg' %}" alt="Image" class="img-fluid rounded"></a>
    </div>

  </div>

<br>
<br>
<div class="container">
  <div class="row mb-5 justify-content-center">
    <div class="col-md-6 text-center mb-5">
      <h1 class="text-cursive" id="demotext2" style = 'text-align: center;'>MIEMBROS DEL EQUIPO</h1>
    </div>
  </div>

  <div class="row align-items-stretch">
    <div class="col-lg-4 col-md-6 mb-5">
      <div class="post-entry-1 h-100 bg-white text-center">
        <a href="#" class="d-inline-block">
          <img src="{% static 'images/person_3.gif' %}" alt="Image"
           class="img-fluid">
        </a>
        <div class="post-entry-1-contents">
          <span class="meta">Presidente</span>
          <h2>Josefa Solís</h2>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-5">
      <div class="post-entry-1 h-100 bg-white text-center">
        <a href="#" class="d-inline-block">
          <img src="{% static 'images/person_7.gif' %}" alt="Image"
           class="img-fluid">
        </a>
        <div class="post-entry-1-contents">
          <span class="meta">Consejero</span>
          <h2>Carlos Aguirre</h2>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-5">
      <div class="post-entry-1 h-100 bg-white text-center">
        <a href="#" class="d-inline-block">
          <img src="{% static 'images/person_5.gif' %}" alt="Image"
           class="img-fluid">
        </a>
        <div class="post-entry-1-contents">
          <span class="meta">Consejera</span>
          <h2>Silvana Clerici</h2>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-5">
      <div class="post-entry-1 h-100 bg-white text-center">
        <a href="#" class="d-inline-block">
          <img src="{% static 'images/person_8.gif' %}" alt="Image"
           class="img-fluid">
        </a>
        <div class="post-entry-1-contents">
          <span class="meta">Consejero</span>
          <h2>Ernesto Núñez</h2>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-5">
      <div class="post-entry-1 h-100 bg-white text-center">
        <a href="#" class="d-inline-block">
          <img src="{% static 'images/person_9.gif' %}" alt="Image"
           class="img-fluid">
        </a>
        <div class="post-entry-1-contents">
          <span class="meta">Consejero</span>
          <h2>Rubén Sandoval</h2>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-5">
        <div class="post-entry-1 h-100 bg-white text-center">
          <a href="#" class="d-inline-block">
            <img src="{% static 'images/person_10.gif' %}" alt="Image"
             class="img-fluid">
          </a>
          <div class="post-entry-1-contents">
            <span class="meta">Consejero</span>
            <h2>Jorge Pucheta</h2>
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-5">
      <div class="post-entry-1 h-100 bg-white text-center">
        <a href="#" class="d-inline-block">
          <img src="{% static 'images/person_1.gif' %}" alt="Image"
           class="img-fluid">
        </a>
        <div class="post-entry-1-contents">
          <span class="meta">Consejera</span>
          <h2>Susana Maidana</h2>
        </div>
      </div>
    </div>

</div>

{% endblock %}

{% block face-1 %}
    <iframe 
    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Foportunidadecambio&tabs=timeline&width=700&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" 
    width="2300" height="500" style="border:none;overflow:hidden;padding: 0 50%" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
    </iframe> 
{% endblock %}
