{% extends "base.html" %}
<!--HEAD-->

{% block titulo %}
    Nosotros - Nosotros
{% endblock %}
<!--BODY-->
{% block titulito %}
    MISIÓN
{% endblock %}
{% block descripcion1 %}
    - Fomentar el desarrollo de la educación, de la salud, y el bienestar social; 
{% endblock %}
{% block descripcion2 %}
    - Lograr el mejoramiento de la calidad de vida.
{% endblock %}
{% block descripcion3 %}
    - Estimular la participación cívica y solidaria.
{% endblock %}
{% block descripcion4 %}
    - Crear ámbitos de integración y recreación.
{% endblock %}
{% block descripcion5 %}
    - Promover la dignidad humana en toda su dimensión ética y cultural, 
    particularmente la igualdad efectiva de oportunidades entre el hombre y la mujer 
    y los derechos de la infancia. 
{% endblock %}

{% block titulito2 %}
    VISIÓN
{% endblock %}
{% block 2descripcion1 %}
  Actualmente la ONG trabaja en tres instalaciones propias, 
  en diferentes puntos de la localidad, a los que asisten 
  mayoritariamente niños de barriadas carenciadas; 
{% endblock %}
{% block 2descripcion2 %}
  En este contexto los comedores se convierten en un espacio de contención en el que, 
  además de proporcionarles alimento, se les brinda esparcimiento, apoyo escolar, 
  actividades culturales y recreativas; afecto y atención.
{% endblock %}
{% block 2descripcion3 %}
  Allí niños son escuchados y contenidos.
{% endblock %}
{% block 2descripcion4 %}
  Queremos llegar a ser una ONG que sea destacada en la región por el acompañamiento 
  que brinda a la comunidad, el esfuerzo de quienes participamos y, 
  por el apoyo de quienes nos ayudan y acompañan.  
{% endblock %}


{% block face-1 %}
    <iframe 
    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Foportunidadecambio&tabs=timeline&width=700&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" 
    width="2300" height="500" style="border:none;overflow:hidden;padding: 0 50%" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
    </iframe> 
{% endblock %}