{% extends "base.html" %}
{% load static %}
<!--HEAD-->

{% block titulo %}
    Contactanos 
{% endblock %}
<!--BODY-->
{% block contenido %}
    <!--Contactanos-->
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
  <!--===============================================================================================-->
<body>

  <div class="contact1">
		<div class="container-contact1">
			<div class="col-md-12">
				<h1 class="text-cursive" id="demotext2">
					Mandanos un email haciendo click en la animación
				</h1>
				<img src="{% static 'images/flecha.png' %}" alt="Image" width="231" height="198">
				<!-- form.123formbuilder.com script begins here -->
				<script type="text/javascript" defer src="https://form.123formbuilder.com/embed/6229126.js?type=lightbox" 
				data-role="form" data-default-width="650px"data-embed-type="lightbox-image-link" 
				data-embed-image-link="{% static 'images/correo.gif' %}" width="400" height="200"></script>
				<!-- form.123formbuilder.com script ends here -->
			</div>
			
			<a href="https://form.123formbuilder.com/6229126/form"  class="contact1-form validate-form" >
		</div>
</div>

 {% include 'include_map.html' %}



</body>
{% endblock %}
