{% load static %}

<head>
    <title>{% block titulo %}
      {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      <!-- Aca pruebo el tema del static -->
      <link href="https://fonts.googleapis.com/css?family=Mansalva|Roboto&display=swap" rel="stylesheet">
  
      <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
  
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
      <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  
      <!-- MAIN CSS -->
      <link rel="stylesheet" href="{% static '/css/style.css' %}">
  
</head>